<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-label class="ion-padding">IDENTIFIANTS</ion-label>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-text-center" [fullscreen]="true">
    <ion-card class="ion-text-center">

      <form (ngSubmit)="onSubmit()" #loginForm>
        <ion-label>Login</ion-label>
        <ion-input type="text" clearInput [(ngModel)]="login" placeholder="login" required [ngModelOptions]="{standalone: true}"></ion-input>

        <ion-label>Password</ion-label>
        <ion-input type="password" clearInput [(ngModel)]="password" placeholder="password" required [ngModelOptions]="{standalone: true}"></ion-input>

        <ion-button color="medium" class="ion-margin" (click)="onLogin()" [disabled]="!loginForm.checkValidity()">
          <ion-icon color="success" slot="start" name="checkmark-outline"></ion-icon>
          Envoyer
        </ion-button>
      </form>

    </ion-card>
</ion-content>